<section id="items">
    <div id="lines">
        <table>
            <thead>
                <tr>
                    <th class="number">No.</th>
                    <th class="description">Item</th>
                    <th class="qty">Quantity</th>
                    <th class="vatrate">VAT</th>
                    <th class="unit">Price</th>
                    <th class="price">Total</th>
                </tr>
                <tr class="color-line"><td colspan="6"></td></tr>
            </thead>
            <tbody>

                {% for Line in Invoice.Lines %}
                    <tr class="item-row">
                        <td class="number bg-primary">{{forloop.index}}</td>
                        <td class="description">{{Line.Description}}</td>
                        <td class="qty">{{Line.Quantity}}</td>
                        <td class="vatrate">{{Line.VATRate}}</td>
                        <td class="unit">{{Line.UnitPrice}}</td>
                        <td class="price">{{Line.AmountExVAT}}</td>
                    </tr>
                {% endfor %}
                <tr class="color-line"><td colspan="6"></td></tr>
            </tbody>
        </table>
    </div>
    <div class="wrapper">
        {% assign net = Invoice.AmountNetGBP %}
        {% assign vat = Invoice.AmountVATGBP %}
        {% assign total = Invoice.AmountTotalGBP %}

        {% if Invoice.NonGBPVatInvoice %}
            {% assign net = Invoice.AmountNet %}
            {% assign vat = Invoice.AmountVAT %}
            {% assign total = Invoice.AmountTotal %}
        {% endif %}
        <table id="totals">
            <tbody>
                <tr>
                    <td class="no-fill"></td>
                    <td class="title">Net:</td>
                    <td colspan="2">{{ net }}</td>
                </tr>
                <tr>
                    <td class="no-fill"></td>
                    <td class="title">VAT:</td>
                    <td colspan="2">{{ vat }}</td>
                </tr>
                <tr>
                    <td class="no-fill"></td>
                    <td class="title">Total:</td>
                    <td class="total bg-primary" colspan="2">{{ total }}</td>
                </tr>
                {% if Invoice.NonGBPVatInvoice %}
                    <tr class="gbp-row net-gbp">
                        <td class="no-fill"></td>
                        <td class="title"></td>
                        <td class="label">Net (GBP):</td>
                        <td class="gbp">{{Invoice.AmountNetGBP}}</td>
                    </tr>
                    <tr class="gbp-row">
                        <td class="no-fill"></td>
                        <td class="title"></td>
                        <td class="label">VAT (GBP):</td>
                        <td class="gbp">{{Invoice.AmountVATGBP}}</td>
                    </tr>
                    <tr class="gbp-row">
                        <td class="no-fill"></td>
                        <td class="title"></td>
                        <td class="label">Total (GBP):</td>
                        <td class="gbp">{{Invoice.AmountTotalGBP}}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
