/* Theme settings: */
$name:                'Classic';
$author:              'inniAccounts';
$orientation:         'Portrait';
$page-margin-top:     11.5cm;
$page-margin-bottom:  1.5cm;
$page-margin-left:    1cm;
$page-margin-right:   1cm;

/* User settings & defaults: */
$font-title: Helvetica, sans-serif  !default;
$font-body: Helvetica, sans-serif  !default;
$color-primary: #000066 !default;
$logo: false !default;  // url('http://placehold.it/350x100')


body {
  font: 13px/1.1 $font-body;
  margin: 0;
  padding: 1px; // Intentional: to allow table borders to render correctly
}

h2 {
  font-family:  $font-title;
  font-size:inherit;
  font-weight: bold;
  margin:0;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  td, th {
    padding: 5px;
  }
  th {
    background-color:$color-primary;
    color:white;
    font-family: $font-title;
  }
}


section#header {
  // The header is vertically aligned to the bottom
  // thus this creates a 1.5cm margin at the top
  height: $page-margin-top - 1.5cm;

  position: relative;

  // Clearfix:
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  #identity {
    max-width:50%;
    float:left;
    min-height: 150px;

    @if $logo {
      .logo {
        content:$logo;
        max-width:350px;
        max-height:100px;
        margin-bottom: 1em;
      }
    }

    .company-name {
      font-weight: bold;
      font-family: $font-title;
    }
    .phone {
      margin-top:10px;
    }
  }

  #meta {
    max-width:40%;
    float:right;
    text-align: center;

    h1  {
      text-align: center;
      font: 32px/1.1 $font-title;
      font-weight: bold ;
      color:$color-primary;
      margin:0;
      padding-top:1em;
      padding-bottom: 3px;
    }

    table {
      font-size:13px;

      td, th {
        border:1px solid black;
        text-align: center;
        padding:3px;
      }
    }

  }

  #customer {
    margin-top:1em;
    clear:both;
    float:left;
    width:55%;
  }

  #notes {
    margin-top:1em;
    float:left;
  }

  #description {
    font-size:16px;
    font-weight: bold;
    margin-bottom:0px;
    position:absolute;
    bottom:0;
    width:100%;
    font-family: $font-title;
  }

}


section#lines {

  table {
    width: 100%;
    margin:0;
    border-bottom: 1px solid black;

    thead {display: table-header-group;}

    // The tfoot is an empty row - it's used to ensure the black bottom
    // border appears on each page
    tfoot {
      display: table-footer-group;
      td {
        font-size: 0.1px !important;
        padding:0 !important;

      }
    }
    // Global styles:
    tr {
      height: 20px;
      page-break-inside: avoid;
      th {
        border:1px solid black;
      }

      td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        vertical-align: top;

        &.qty, &.vatrate {
          text-align: center;
        }

        &.unit, &.price {
          text-align: right;
        }

      }

      td, th {
        font-size:13px;
      }
    }

    th {
      &.description {
        text-align: left;
        width: auto;
      }

      &.qty, &.vatrate {
        width: 48px;
      }
      &.unit, &.price {
        width: 80px;
      }
    }

    tbody {
      tr:nth-child(2n+1) td {
        background-color: #eeeeee;
      }
    }

  }

}

section#totals {
  margin-top:3px;

  table {
    float: right;
    td {
      width:110px;
      font-size:13px;
      text-align: right;
      border:1px solid black;

      &.label {font-size:10px; text-transform: uppercase}

    }

    tr.subtotal {
    }

    tr.vat {
    }

    tr.total td {
      &.label {font-size:10px; text-transform: uppercase; font-weight: bold;}
      font-size:18px;
    }
  }

  td.base {
    display: none;
  }

  &.non-gbp-invoice {
    td.base {
      display: inherit;
    }
  }

}

section#footer {
  padding-top: 0.5cm;
  height: $page-margin-bottom;
  clear:both;
  font-size:10px;
  width:100%;
}

