<section id="header">
    <div class="left">
        <div id="logo"></div>
        <div id="company">
            <h2>{{Invoice.CompanyName}}</h2>
            <div class="address">
                {{Invoice.CompanyAddress | newline_to_br}}
            </div>
        </div>
        <div id="customer">
            <h2>Invoice to:</h2>
            <div class="address">
                {{Invoice.InvoiceAddress | newline_to_br}}
            </div>
        </div>
    </div>
    <div class="right">
        <table id="icons">
            {% if Invoice.CompanyPhone %}
            <tr>
                <th><i class="fa fa-phone"></i></th>
                <td>{{Invoice.CompanyPhone}}</td>
            </tr>
            {% endif %}
            {% if Invoice.CompanyEmail %}
            <tr>
                <th><i class="fa fa-envelope"></i></th>
                <td>{{Invoice.CompanyEmail}}</td>
            </tr>
            {% endif %}
            {% if Invoice.CompanyURL %}
            <tr>
                <th><i class="fa fa-globe"></i></th>
                <td>{{Invoice.CompanyURL}}</td>
            </tr>
            {% endif %}
        </table>
        <h1>INVOICE</h1>
        <table id="meta">
            <thead>
            <tr>
                <th>Number</th>
                {% if Invoice.InvoiceReference %}
                <th>Reference</th>
                {% endif %}
                <th>Issued</th>
                <th>Due</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{Invoice.InvoiceNumber}}</td>
                {% if Invoice.InvoiceReference %}
                <td>{{Invoice.InvoiceReference}}</td>
                {% endif %}
                <td>{{Invoice.Date | date: '%d/%m/%Y' }}</td>
                <td>{{Invoice.DateDue | date: '%d/%m/%Y' }}</td>
            </tr>
            </tbody>
        </table>
        <div id="description" >
            {{Invoice.Description}}
        </div>
    </div>
</section>
