/* Theme settings: */
$name:                'Blend';
$author:              'inniAccounts';
$orientation:         'Portrait';
$page-margin-top:     8cm;
$page-margin-bottom:  8cm;
$page-margin-left:    1cm;
$page-margin-right:   1cm;

/* User settings & defaults: */
$font-title: Helvetica, sans-serif  !default;
$font-body: Helvetica, sans-serif  !default;
$color-primary: #DE4498 !default;
$color-secondary: #333 !default;
$logo: false !default;  // url('http://placehold.it/350x100')

$border-color: #C9C8C8;
$color-secondary: #AAA;

body {
  font: 13px/1.1 $font-body;
  margin: 0;
  padding: 1px; // Intentional: to allow table borders to render correctly
  vertical-align: top;
  height:100%;
}

//  margin: 0 auto;
 // height:100%;
//  position:relative;
  // margin-bottom:-200px;

  h2 {
    font-family:  $font-title;
    font-size:inherit;
    font-weight: bold;
    margin:0;
    text-transform: uppercase;
  }

  table {
    border-collapse: collapse;
    td, th {
      padding: 5px;
    }
    th {
      font-family: $font-title;
    }
  }


  section#header {
    background-color: red;
    margin-top:1cm;
    height:7cm;

    // Clearfix:
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .left {
      width:50%;
      float: left;
    }
    .right {
      width:50%;
      float: left;
    }

    @if $logo {
      #logo {
        content:$logo;
        max-width:350px;
        max-height:100px;
        margin-bottom: 1em;
      }
    }

    #company {
      color:$color-secondary;
    }

    #customer {
      color:$color-secondary;
    }

    #icons {
      width:100%;

      td {
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        width:50%;
        color:$color-secondary;
        font-size:10px;
        padding-top: 1em;
        padding-bottom: 2em;

        &:last-child {
          border-right:none;
          padding-left:2em;
        }

        i {
          color:$color-primary;
          display: block;
          font-size: 18px;
          margin-bottom: 0.5em;
        }
      }
    }

    h1 {
      text-align: left;
      font: 45px/1.1 $font-title;
      font-weight: normal ;
      color:$color-secondary;
      margin:0;
      padding-top:1em;
      padding-bottom: 0.5em;
    }

    #description {
      font-size:16px;
      margin-bottom:0px;
      font-family: $font-title;

    }

    table#meta {
      width:100%;
      font-size:13px;

      td, th {
        background-color:$color-primary;
        color:white;
        text-align: left;
        padding:0;
        padding-left: 20px;
      }

      td {
        padding-bottom:20px;
        font-size:16px;
      }
      th {
        padding-top:20px;
        font-size:14px;
        font-weight: normal;
      }

    }

    #identity {
      min-height: 200px;
      color: $color-secondary;


    }


  }


  section#lines {

    table {
      width: 100%;
      margin:0;

      thead {display: table-header-group;}

      // Global styles:
      tr {
        height: 40px;
        page-break-inside: avoid;
        line-height: 40px;

        td {

          vertical-align: top;

          &.qty, &.vatrate {
            text-align: center;
          }

          &.unit, &.price {
            text-align: right;
          }

        }

        td, th {
          font-size:13px;
        }
      }

      th {
        &.description {
          text-align: left;
          width: auto;
        }

        &.qty, &.vatrate {
          width: 48px;
        }
        &.unit, &.price {
          width: 80px;
        }
      }

      tbody {
        tr:nth-child(2n+1) td {
          background-color: #eeeeee;
        }
      }

    }

  }

  section#totals {
    margin-top:3px;

    table {
      float: right;
      td {
        width:110px;
        font-size:13px;
        text-align: right;
        border:1px solid black;

        &.label {font-size:10px; text-transform: uppercase}

      }

      tr.subtotal {
      }

      tr.vat {
      }

      tr.total td {
        &.label {font-size:10px; text-transform: uppercase; font-weight: bold;}
        font-size:18px;
      }
    }

    td.base {
      display: none;
    }

    &.non-gbp-invoice {
      td.base {
        display: inherit;
      }
    }

  }

  section#footer {
//    position:fixed;
 //   bottom:0;
    clear:both;
    font-size:10px;
    width:100%;
    height:4cm;
    margin-bottom:1cm;
    background-color: red;
    position: relative;

    #legal {
      position: absolute;
      bottom:0;
    }
  }
