/* Theme settings: */
$name:                'Blend';
$author:              'inniAccounts';
$orientation:         'Portrait';
$page-margin-top:     10cm;
$page-margin-bottom:  2cm;
$page-margin-left:    1cm;
$page-margin-right:   1cm;

/* User settings & defaults: */
$font-title: Arial, sans-serif  !default;
$font-body: Arial, sans-serif  !default;
$color-primary: #882251 !default;
$color-secondary: #333 !default;
$logo: false !default;

$color-secondary-light: change-color($color-secondary, $saturation:10, $lightness: 60);

$base-font-size:17px;

//
// $logo: url('http://placehold.it/350x100');

body {
  font: $base-font-size $font-body;
  line-height: 1.1em;
  margin: 0;
  padding: 1px; // Intentional: to allow table borders to render correctly
}

h2 {
  font-family:  $font-title;
  font-size:inherit;
  font-weight: bold;
  margin:0;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  td, th {
    padding: 5px;
  }
  th {
    font-family: $font-title;
  }
}


section#header {
  height:10.5cm;
  @if $logo {
    // Expand header / reduce margin to fit in logo
    height:11.5cm;
  } @else {
    height:10.5cm;
  }
  position: relative;
  width: auto;

  // Clearfix:
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .left {
    width:49%;
    float: left;
  }
  .right {
    width:49%;
    float: right;
  }

  @if $logo {
    #logo {
      content:$logo;
      max-width:350px;
      max-height:100px;
      margin-bottom: 1em;
    }
  }

  #company {
    color:$color-secondary;
  }

  #customer {
    margin-top:1em;
    color:$color-secondary;
  }

  #icons {
    width:100%;

    th, td {
      text-align: left;
      color: $color-secondary-light;
      font-size:13px;
      padding:0 0 0.6em 0;
    }
    th {width:1.5em;}

    border-bottom: 1px solid $color-secondary-light;

  }

  h1 {
    text-align: left;
    font: 71px/1 $font-title;
    font-weight: bold ;
    color:$color-primary;
    margin:$base-font-size*2 0;
  }

  table#meta {
    width:100%;
    font-size:$base-font-size;
    background-color:$color-primary;

    td, th {
      color:white;
      text-align: left;
      padding:0;
      padding-left: $base-font-size;
    }

    td {
      padding-bottom:$base-font-size;
      font-size:$base-font-size;
      font-weight: bold;
      font-family: $font-title;
    }
    th {
      padding-top:$base-font-size;
      font-size:$base-font-size;
      font-weight: normal;
    }

  }

  #description {
    font-size:$base-font-size;
    margin:1em 0 0 0;
    font-family: $font-body;
    color:$color-secondary;
  }

}


section#lines {

  table {
    width: 100%;
    margin:0;

    thead {display: table-header-group;}

    tr {
      page-break-inside: avoid;


      td {
        font-size:$base-font-size;
        vertical-align: top;
        padding:5px 0;
        color:$color-secondary;
      }

      td:first-child {
        padding-left: 3px;
      }
      td:last-child  {
        padding-right: 3px;
      }

      th {
        font-size:$base-font-size;
        color:$color-primary;
        padding:4px 0;
        border-bottom: 1px solid $color-primary;

        &.description {
          text-align: left;
          width: auto;
        }

        &.qty, &.vatrate {
          width: 48px;
        }
        &.unit, &.price {
          width: 80px;
        }
      }

      .qty, .vatrate {
        text-align: center;
      }

      .unit, .price {
        text-align: right;
      }
    }


    tbody {
      tr:nth-child(2n+1) td {
        background-color: change-color($color-secondary, $saturation: 10, $lightness: 95);
      }
    }

  }

}

section#totals {

  table {
    float: right;
    font-family: $font-title;
    page-break-inside: avoid;


    td {
      width:77px;
      font-size:17px;
      text-align: right;
      padding: 5px 0;
      color: $color-secondary;

      &.label {
        font-weight:bold;
      }

      &.base {
        display: none;
      }

      &.base, &.gbp {
        padding-right: 3px;
      }

    }

    tr.total {
      background-color: $color-primary;

      td {
        &.label {
          //font-size: 23px;
          font-weight: bold;
        }
        padding-top:8px;
        padding-bottom:8px;
        background-color: $color-primary;
        color: white;
        //font-size: 23px;
      }
    }
  }


  &.non-gbp-invoice {
    td.base {
      display: table-cell;
    }
    td.gbp {
      padding-right:0;
    }
  }

}

section#notes {
  padding-top:1em;

  h2, div {
    color:$color-secondary;
  }
}

section#footer {
  font-size:13px;
  width:100%;
  height:1cm;
  margin-bottom:1cm;
  clear:both;

  #line {
    div {
      background: linear-gradient(90deg, $color-primary, lighten($color-primary, 20%));
      background: -webkit-linear-gradient(left, $color-primary, lighten($color-primary, 20%));
      display: block;
      min-height:5px;
    }

    #l1 {
      float:left;
      width:30%;
    }

    #l2 {
      float:right;
      width:70%;
    }


  }

  #legal {
    clear:both;
    padding-top:1em;
    margin:0 auto;
    max-width: 60%;
    text-align: center;
    color:$color-secondary-light;
  }
}
