<section id="lines">
    <table>
        <thead>
            <tr>
                <th class="description">Description</th>
                <th class="qty">Qty</th>
                <th class="vatrate">VAT</th>
                <th class="unit">Unit</th>
                <th class="price">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for Line in Invoice.Lines %}
            <tr class="item-row">
                <td class="description">{{Line.Description}}</td>
                <td class="qty">{{Line.Quantity}}</td>
                <td class="vatrate">{{Line.VATRate}}</td>
                <td class="unit">{{Line.UnitPrice}}</td>
                <td class="price">{{Line.AmountExVAT}}</td>
            </tr>
            {% endfor %}
            {% if forloop.length < 10  %}
            <tr class="filler">
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</section>

<section id="totals" {% if Invoice.NonGBPVatInvoice %} class="non-gbp-invoice"{% endif %}>

    <br />
    <br />
    <table>
        <tr class="subtotal">
            <td class="label">Subtotal</td>
            <td class="gbp">{{Invoice.AmountNetGBP}}</td>
            <td class="base">{{Invoice.AmountNet}}</td>
        </tr>
        <tr class="vat">
            <td class="label">VAT</td>
            <td class="gbp">{{Invoice.AmountVATGBP}}</td>
            <td class="base">{{Invoice.AmountVAT}}</td>
        </tr>
        <tr class="total">
            <td class="label">Total</td>
            <td class="gbp">{{Invoice.AmountTotalGBP}}</td>
            <td class="base">{{Invoice.AmountTotal}}</td>
        </tr>
    </table>
</section>